<!DOCTYPE html>
<html>
  <h1> About our first webpage using rails </h1>
  <p> Abbie is my sister-in-law </p>
  <h2> My favorite sister in law who doesn't code </h2>
  <p> She could be creating this kind of thing, but she isn't coding. </p>
  
</html>
<%= link_to 'home', pages_home_path %>