<!DOCTYPE html>
<html>
  <h1 style=color "blue"> This page is about the different things I am learning. </h1>
  <ul>
    <li> Primarily I am learning with Ruby on Rails </li>
    <li> Using Udemy.com and the Complete Ruby on Rails Developer Course </li>
    <li> I have also learned the basics to the HTML language </li>
    <li> Soon I will also learn languages like JavaScript, CSS, and hopefully more. </li>
  </ul>
  
</html>
<%= link_to 'home', pages_home_path %>