<!DOCTYPE html>
<h1> Alpha-Blog is my first webpage </h1>
<p> I am writing my first webpage</p>
<blockquote style="color blue"> Sometimes web development feels like you are Matt Damon in <q> The Martian </q>
 and you feel like you're all alone with no help and no clue as to what you are doing. </blockquote>
<p> This is where I will continually be adding things I learn as I go through this course. </p>
 
<%= link_to 'about', pages_about_path %>

 <img src="http://media-channel.nationalgeographic.com/media/uploads/photos/content/photo/2016/08/29/MARS_Helmets_DL.jpg"
 style=width:500px;height:450px;">